<% include layout/head %>

<p data-controller="content-loader"
   data-content-loader-url-value="/uptime"></p>

<p data-controller="content-loader"
   data-content-loader-url-value="/uptime"
   data-content-loader-refresh-interval-value="3500"></p>

<p data-controller="content-loader"
   data-content-loader-url-value="/uptime"
   data-content-loader-refresh-interval-value="1000"></p>

<% include layout/tail %>
