<% include layout/head %>

<form method="dialog" data-controller="hello">
  <p>
    <input data-hello-target="name" type="text" placeholder="Type your name…" autofocus>
    <button data-action="click->hello#greet">Greet</button>
  </p>
</form>

<% include layout/tail %>
