<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Stimulus<%= locals.title ? `: ${title}` : "" %></title>
  <link rel="stylesheet" href="/main.css">
  <script src="/main.js" defer></script>
</head>
<body>
  <main>
    <ul class="nav" data-controller="navigation">
      <li><a href="/bulk-checker" data-target="navigation.example">Bulk Checker</a></li>
      <li><a href="/expander" data-target="navigation.example">Expander</a></li>
      <li><a href="/shape-shifter" data-target="navigation.example">Shape Shifter</a></li>
      <li><a href="/wizard" data-target="navigation.example">Wizard</a></li>
      <li><a href="/multiple" data-target="navigation.example">Multiple</a></li>
      <li><a href="/close-warning" data-target="navigation.example">Close Warning</a></li>
    </ul>
    <div class="container">
      <%- content %>
    </div>
  </main>
</body>
</html>
