<div data-controller="shape-shifter">
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
  <div data-target="shape-shifter.shape" data-action="click->shape-shifter#toggle"></div>
</div>
