* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: rgba(0,0,0,0.08);
}

a {
  color: #333;
}

button {
  padding: 2px 6px 3px 6px;
}

p {
  margin-top: 1em;
}

textarea {
  font-size: inherit;
  padding: 0.6em;
  border-radius: 3px;
  resize: none;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.nav {
  flex-basis: auto;
  white-space: nowrap;
  margin: 10px 20px;
}

.nav li {
  list-style: none;
  margin: 0 0 8px 0;
}

.nav a {
  display: block;
  position: relative;
  text-decoration: none;
}

.nav a.active::before {
  content: "👉";
  display: inline-block;
  position: absolute;
  font-size: 28px;
  left: -32px;
  top: -6px;
}

.container {
  flex-grow: 1;
  border: 1px dashed #666;
  border-radius: 3px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

[data-controller~=expander] {
  position: relative;
  border: 2px dotted red;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
}

[data-controller~=expander].expanded {
  border-color: green;
}

[data-expander-target=expanded]:not(.expanded) {
  display: none;
}

[data-expander-target=collapsed].expanded {
  display: none;
}

[data-shape-shifter-target~="shape"] {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10px;
}

[data-shape-shifter-target~="shape"].triangle {
  width: 0;
  height: 0;
  border-bottom: 80px solid steelblue;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

[data-shape-shifter-target~="shape"].circle {
  background-color: steelblue;
  border-radius: 50%;
}

[data-controller=wizard] [data-wizard-target=step]:not([data-current-step]) {
  display: none;
}

[data-controller="close-warning"] {
  min-height: 300px;
}

[data-controller="close-warning"] .warning {
  border-width: 2px;
  border-color: rgba(255, 0, 0, 1);
  background-color:  rgba(255, 0, 0, 0.02);
}

[data-controller="close-warning"] [data-close-warning-target="autosave"] {
  display: inline-block;
  font-size: 1.2em;
  border-radius: 4px;
  background-color: highlight;
  padding: 0.6em 1.2em;
  margin: 1em 0;
}

[data-controller="close-warning"] [data-close-warning-target="autosave"].hidden {
  display: none;
}
