* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: rgb(255, 235, 140);
}

a {
  color: #333;
}

button {
  padding: 2px 6px 3px 6px;
}

p {
  margin: 1em 0;
}

textarea {
  font-size: inherit;
  padding: 0.6em;
  border-radius: 3px;
  resize: none;
}

input {
  padding: 0.15em 0.3em;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.sidebar {
  flex-basis: auto;
  margin: 10px 20px;
}

.nav {
  white-space: nowrap;
  margin: 10px 0;
}

.nav li {
  list-style: none;
  margin: 0 0 8px 0;
}

.nav a {
  display: block;
  position: relative;
  text-decoration: none;
}

.nav a.active {
  font-weight: bold;
  color: #000;
}

.nav a.active::before {
  content: "👉";
  display: inline-block;
  position: absolute;
  font-size: 28px;
  left: -32px;
  top: -6px;
}

.container {
  flex-grow: 1;
  border-radius: 3px;
  min-height: 300px;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.clipboard-button {
  display: none;
}

.clipboard--supported .clipboard-button {
  display: initial;
}

.clipboard-source {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.slide {
  display: none;
  font-size: 6rem;
}

.slide.slide--current {
  display: block;
}
